pip install plotly
pip install numpy
pip install streamlit
pip install pydeck
pip install plotly.express
pip install plotly.io
pip install matplotlib.animation
pip install plotly.graph_objects 
